extends layout

block content
    br
    br
    .row
        each book in books
            .col-sm-4
                img(src=book.image style='width: 100%; height: 300px')
                h2 #{book.name}
                p #{book.description}
                p
                    a.btn.btn-default(href='#', role='button') View details »



    a(href='/book/add')
        .btn.btn-success Add Book